<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeAction</title>
</head>
<body>
    <h2>SomeAction</h2>
    <p><a href="~/Home/Index">Основное представление</a></p>
    <p><a href="~/Home/Emploees">Сотрудники</a></p>
</body>
</html>
