<div class="left-sidebar">
    <partial name="Partial/_CategoryProductsr" />

    <partial name="Partial/_BrandsProducts" />

    <partial name="Partial/_PriceRange" />

    <partial name="Partial/_Shipping" />
</div>
